name: Build LaTeX document
on: [push, pull_request, workflow_dispatch]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v3
      - name: Compile DoneRight LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          working_directory: Books/DoneRight
          root_file: DoneRight.tex
      - name: Compile BabyRudin LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          working_directory: Books/BabyRudin
          root_file: BabyRudin.tex
      - name: Compile Jirka Real Analysis LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          working_directory: Books/Jirka_RA
          root_file: jirka_ra.tex
      - name: Compile Neukirch LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          working_directory: Books/Neukirch
          root_file: Neukirch.tex
      - name: Compile NTU Calculus 1 LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          working_directory: NTU/Calculus1
          root_file: Calculus1.tex
      - name: Compile English LaTeX documents
        uses: xu-cheng/latex-action@v2
        with:
          root_file: |
            Books/Neukirch/Notes.tex
            Exams/NumberTheory/Solutions/NumberTheory.tex
            Exams/HKALE/1998/HKALE-1998.tex
            Exams/HKALE/1999/HKALE-1999.tex
            Exams/HKCEE/2001/HKCEE-2001.tex
            Exams/HKDSE/2020/HKDSE-2020.tex
            Exams/Rutgers-Analysis/midterm.tex
            MIT/Solutions/MIT.tex
            Misc/Bernoulli/Bernoulli.tex
            Misc/Cosine/Cosine.tex
            Misc/Integral/Integral.tex
            Misc/Obfuscate/Obfuscate.tex
            Misc/Recurrence/Recurrence.tex
            Misc/pde/pde.tex
            Misc/Ufd/Ufd.tex
            Misc/Elliptic/Elliptic.tex
            Misc/Automata/Automata.tex
            Misc/Gaussian/Gaussian.tex
            Misc/ProofReviewGuidelines/ProofReviewGuidelines.tex
            Papers/GK/GK.tex
      - name: Compile Chinese LaTeX documents
        uses: xu-cheng/latex-action@v2
        with:
          latexmk_use_xelatex: true
          root_file: |
            Misc/Forms/DifferentialForm.tex
      - name: Upload LaTeX document
        uses: actions/upload-artifact@v3
        with:
          name: PDF
          path: |
            Books/DoneRight/DoneRight.pdf
            Books/BabyRudin/BabyRudin.pdf
            Books/Jirka_RA/jirka_ra.pdf
            Books/Neukirch/Neukirch.pdf
            NTU/Calculus1/Calculus1.pdf
            Notes.pdf
            NumberTheory.pdf
            HKALE-1998.pdf
            HKALE-1999.pdf
            HKCEE-2001.pdf
            HKDSE-2020.pdf
            midterm.pdf
            MIT.pdf
            Bernoulli.pdf
            Cosine.pdf
            Integral.pdf
            Obfuscate.pdf
            Recurrence.pdf
            pde.pdf
            Ufd.pdf
            GK.pdf
            DifferentialForm.pdf
            Elliptic.pdf
            Automata.pdf
            Gaussian.pdf
            ProofReviewGuidelines.pdf
